h1 NOTES
.row
  .small-12.columns
    input(type='text', ng-model='note.title')
    input(type='text', ng-model='note.body')
    input(type='text', ng-model='note.tags')
    button(ng-click='create(note)') Create
.row
  .small-12.columns
    h3 Notes List
    table
      thead
        tr
          td Title
          td Tags
          td Text
      tbody
        tr(ng-repeat='note in notes')
          td {{note.title}}
          td {{note.tags.join(', ')}}
          td {{note.body}}
